<!--
  페이지 생성시 해당 페이지 구조 복붙해서 사용하면됩니다.
-->
<!DOCTYPE html>
<th:block th:replace="~{layout/base-layout :: base-layout(
            pageContent=~{::pageContent},
            pageHead=~{::pageHead},
            pageModal=~{::pageModal},
            pageScript=~{::pageScript},
            title='환불관리',
            subtitle='관리'
        )}">

    <!-- head block -->
    <th:block th:fragment="pageHead">
        <!-- Daterangepicker css -->
        <link href="/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <!-- Datatables css -->
        <link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />

        <!-- custom css  -->
        <link href="/css/management.css" rel="stylesheet" type="text/css" />
        <link href="/css/gird24-system.css" rel="stylesheet" type="text/css" />
    </th:block>

    <!-- content block -->
    <th:block th:fragment="pageContent">
        <!-- row -->
        <div class="row">

            <!-- col-->
            <div class="col-12 mobile-p0 m-0">
                <!-- card -->
                <div class="card">
                    <!-- card body-->
                    <div class="card-body p-2">
                        <form>
                            <!-- top -->
                            <div class="manage-data manage-bottom">
                                <div class="grid-24">
                                    <div class="row">
                                        <!-- 버튼 -->
                                        <div class="col-24 col-sm-5 col-lg-4 col-xl-3">
                                            <button type="button" class="btn btn-primary management-btn mb-2" data-bs-toggle="modal" data-bs-target="#refund-modal">
                                                <i class="ri-add-circle-line me-1"></i> 환불 신청
                                            </button>
                                        </div><!--//버튼 -->

                                        <!-- 검색영역 -->
                                        <div class="col-sm-19 col-lg-20 col-xl-21">
                                            <div class="grid-24">
                                                <div class="row justify-content-end">
                                                    <!-- 상태영역 -->
                                                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3 mb-2 selectbox-pe-0">
                                                        <div class="input-group d-flex align-items-center">
                                                            <h5 class="mb-0 me-2">상태</h5>
                                                            <select class="form-select" id="search-status" aria-label="">
                                                                <option value="-">전체</option>
                                                                <option value="REQUESTED">요청</option>
                                                                <option value="PROCESSING">처리중</option>
                                                                <option value="COMPLETED">완료</option>
                                                                <option value="FAILED">실패</option>
                                                            </select>
                                                        </div>
                                                    </div><!--// 상태영역 -->
                                                    <!-- 주문ID -->
                                                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3 mb-2 selectbox-pe-0">
                                                        <div class="input-group d-flex align-items-center">
                                                            <h5 class="mb-0 me-2">주문ID</h5>
                                                            <input type="number" class="form-control" id="search-order-id" min="1">
                                                        </div>
                                                    </div><!--// 주문ID -->
                                                    <!-- 검색 -->
                                                    <div class="col-sm-17 col-md-17 col-lg-14 col-xl-10 col-xxxl-8 mb-2">
                                                        <div class="input-group">
                                                            <input type="text" id="target-text" class="form-control w-33"
                                                                   placeholder="환불번호 검색">
                                                            <button type="button" class="btn btn-primary border-primary" id="btn-search">
                                                                <i class="ri-search-line me-1"></i> 검색
                                                            </button>
                                                            <button type="button" class="btn btn-soft-dark shadow-none ms-1" id="btn-reset">
                                                                <i class="ri-loop-left-fill me-1"></i> <span>초기화</span>
                                                            </button>
                                                        </div>
                                                    </div><!--// 검색 -->
                                                </div><!--//row -->
                                            </div>
                                        </div><!--// 검색영역 -->

                                    </div><!--//row -->
                                </div>
                            </div><!--//top -->

                            <!-- table #dataTable - DataTable 로드 -->
                            <div class="scrollable-container" data-simplebar data-simplebar-auto-hide="false">
                                <div class="table-inner-wrapper">
                                    <table id="refundDataTable" class="table table-striped table-hover w-100 custom org-custom text-center">
                                    </table>
                                </div>
                            </div><!--//table -->
                            <!-- 푸터 페이지네이션 -->
                            <div class="dt-footer" data-table="refundDataTable"></div>
                        </form>
                    </div><!--// card body-->
                </div> <!--// card -->
            </div><!--//col-->

        </div><!--//row -->
    </th:block>

    <!-- modal block -->
    <th:block th:fragment="pageModal">

        <!-- 환불 신청 모달 -->
        <div class="modal fade" id="refund-modal" tabindex="-1" aria-labelledby="refund-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-end bg-primary text-white">
                        <h5 class="modal-title">
                            <i class="ri-refund-2-fill me-1"></i>
                            환불 신청
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="p-1">
                        <div class="modal-body px-2 pb-3">
                            <div class="row mb-2">
                                <div class="col-3">결제ID</div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="refund-paymentId" placeholder="환불 대상 결제 ID를 입력해 주세요">
                                        <button type="button" class="btn btn-outline-secondary" id="refund-payment-check">확인</button>
                                    </div>
                                    <div class="form-text" id="refund-payment-info"></div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">환불금액</div>
                                <div class="col-9">
                                    <input type="number" class="form-control" id="refund-amount" placeholder="환불금액을 입력해 주세요" min="0">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">환불사유코드</div>
                                <div class="col-9">
                                    <select class="form-select" id="refund-reasonCode" aria-label="">
                                        <option value="CHANGE_OF_MIND">단순 변심</option>
                                        <option value="SERVICE_ISSUE">서비스 불만</option>
                                        <option value="DUPLICATE_PAYMENT">중복 결제</option>
                                        <option value="MEMBER_REQUEST">회원 요청</option>
                                        <option value="OTHER">기타</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">환불사유</div>
                                <div class="col-9">
                                    <textarea class="form-control mb-2" id="refund-reason" rows="3" placeholder="환불사유를 입력해 주세요"></textarea>
                                </div>
                            </div>
                            <div class="form-text" id="refund-form-message"></div>
                        </div>
                    </div>

                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="refund-confirm">신청</button>
                    </div>
                </div>
            </div>
        </div><!--// 환불 신청 모달 -->

        <!-- 환불 처리시작 확인 모달 -->
        <div class="modal fade" id="refund-process-modal" tabindex="-1" aria-labelledby="refund-process-modal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header justify-content-end bg-warning text-white">
                        <h5 class="modal-title">
                            <i class="ri-time-fill me-1"></i>
                            환불 처리 시작
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        해당 환불 건을 처리중 상태로 변경하시겠습니까?
                    </div>
                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-warning" id="refund-process-confirm">처리시작</button>
                    </div>
                </div>
            </div>
        </div><!--// 환불 처리시작 확인 모달 -->

        <!-- 환불 완료 처리 모달 -->
        <div class="modal fade" id="refund-complete-modal" tabindex="-1" aria-labelledby="refund-complete-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-end bg-success text-white">
                        <h5 class="modal-title">
                            <i class="ri-checkbox-circle-fill me-1"></i>
                            환불 완료 처리
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="p-1">
                        <div class="modal-body px-2 pb-3">
                            <div class="row mb-2">
                                <div class="col-4">PG 취소 거래번호</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="refund-complete-pgCancelId">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">결과코드</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="refund-complete-resultCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">결과메시지</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="refund-complete-resultMessage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-success" id="refund-complete-confirm">완료처리</button>
                    </div>
                </div>
            </div>
        </div><!--// 환불 완료 처리 모달 -->

        <!-- 환불 실패 처리 모달 -->
        <div class="modal fade" id="refund-fail-modal" tabindex="-1" aria-labelledby="refund-fail-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-end bg-danger text-white">
                        <h5 class="modal-title">
                            <i class="ri-close-circle-fill me-1"></i>
                            환불 실패 처리
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="p-1">
                        <div class="modal-body px-2 pb-3">
                            <div class="row mb-2">
                                <div class="col-4">결과코드</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="refund-fail-resultCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">결과메시지</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="refund-fail-resultMessage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger" id="refund-fail-confirm">실패처리</button>
                    </div>
                </div>
            </div>
        </div><!--// 환불 실패 처리 모달 -->

    </th:block>

    <!-- script block -->
    <th:block th:fragment="pageScript">

        <!-- Daterangepicker Plugin js -->
        <script src="/vendor/daterangepicker/moment.min.js"></script>
        <script src="/vendor/daterangepicker/daterangepicker.js"></script>

        <!-- custom -->
        <script type="module" src="/js/refund/refund.js"></script>

    </th:block>

</th:block>
