<!--
  페이지 생성시 해당 페이지 구조 복붙해서 사용하면됩니다.
-->
<!DOCTYPE html>
<th:block th:replace="~{layout/base-layout :: base-layout(
            pageContent=~{::pageContent},
            pageHead=~{::pageHead},
            pageModal=~{::pageModal},
            pageScript=~{::pageScript},
            title='아파트관리',
            subtitle='관리'
        )}">

    <!-- head block -->
    <th:block th:fragment="pageHead">
        <!-- 여기에 추가적으로 필요한 head 내용을 넣습니다. -->
        <!-- Daterangepicker css -->
        <link href="/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <!-- Datatables css -->
        <link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />

        <!-- custom css  -->
        <link href="/css/management.css" rel="stylesheet" type="text/css" />
        <link href="/css/gird24-system.css" rel="stylesheet" type="text/css" />
    </th:block>

    <!-- content block -->
    <th:block th:fragment="pageContent">
        <!-- 여기에 페이지 본문 내용을 넣습니다. -->
        <!-- row -->
        <div class="row">
            <!-- col-->
            <div class="col-12 mobile-p0 m-0">
                <!-- card -->
                <div class="card">
                    <!-- card body-->
                    <div class="card-body p-2">
                        <form>
                            <!-- top -->
                            <div class="manage-data manage-bottom">
                                <div class="grid-24">
                                    <div class="row">
                                        <!-- 버튼 -->
                                        <div class="col-24 col-sm-5 col-lg-4 col-xl-3">
                                            <button type="button" class="btn btn-primary management-btn mb-2" data-bs-toggle="modal" data-bs-target="#apart-modal">
                                                <i class="ri-add-circle-line me-1"></i> 아파트 등록
                                            </button>
                                        </div><!--//버튼 -->

                                        <!-- 검색영역 -->
                                        <div class="col-sm-19 col-lg-20 col-xl-21">
                                            <div class="grid-24">
                                                <div class="row justify-content-end">
                                                    <!-- 지역영역 -->
                                                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3 col-xxxl-3 mb-2 selectbox-pe-0">
                                                        <div class="input-group d-flex align-items-center">
                                                            <h5 class="mb-0 me-2">지역</h5>
                                                            <select class="form-select" id="search-target-depth1" aria-label="">
                                                            </select>
                                                        </div>
                                                    </div><!--// 지역영역 -->
                                                    <!-- 시군영역 -->
                                                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3 col-xxxl-3 mb-2 selectbox-pe-0">
                                                        <div class="input-group d-flex align-items-center">
                                                            <h5 class="mb-0 me-2">시군구</h5>
                                                            <select class="form-select" id="search-target-depth2" aria-label="">
                                                            </select>
                                                        </div>
                                                    </div><!--// 시군영역 -->

                                                    <!-- 검색 -->
                                                    <div class="col-sm-17 col-md-17 col-lg-14 col-xl-10 col-xxxl-8 mb-2">
                                                        <div class="input-group">
                                                            <input type="text" id="target-text" class="form-control w-33"
                                                                   placeholder="아파트 검색">
                                                            <button type="button" class="btn btn-primary border-primary" id="btn-search">
                                                                <i class="ri-search-line me-1"></i> 검색
                                                            </button>
                                                            <button type="button" class="btn btn-soft-dark shadow-none ms-1" id="btn-reset">
                                                                <i class="ri-loop-left-fill me-1"></i> <span>초기화</span>
                                                            </button>
                                                        </div>
                                                    </div><!--// 검색 -->
                                                </div><!--//row -->
                                            </div>
                                        </div><!--// 검색영역 -->

                                    </div><!--//row -->
                                </div>
                            </div><!--//top -->

                            <!-- table #dataTable - DataTable 로드 -->
                            <div class="scrollable-container" data-simplebar data-simplebar-auto-hide="false">
                                <div class="table-inner-wrapper">
                                    <table id="apartDataTable" class="table table-striped table-hover w-100 custom org-custom text-center">
                                    </table>
                                </div>
                            </div><!--//table -->
                            <!-- 푸터 페이지네이션 -->
                            <div class="dt-footer" data-table="apartDataTable"></div>
                        </form>
                    </div><!--// card body-->
                </div> <!--// card -->
            </div><!--//col-->


        </div><!--//row -->
    </th:block>

    <!-- modal block -->
    <th:block th:fragment="pageModal">

        <!-- 사용자추가 모달 -->
        <div class="modal fade" id="apart-modal" tabindex="-1" aria-labelledby="apart-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- modal-header -->
                    <div class="modal-header justify-content-end bg-primary text-white">
                        <h5 class="modal-title">
                            <i class="ri-user-add-fill me-1"></i>
                            <span id="apart-modal-title">신규 아파트 등록</span>
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--// modal-header -->

                    <!-- modal-body -->
                    <div class="p-1">
                        <div class="modal-body px-2 pb-3">
                            <!---->
                            <div class="row mb-2">
                                <div class="col-3 ">행정구역</div>
                                <div class="col-9">
                                    <select class="form-select" id="address" aria-label="">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3 ">시/군/구</div>
                                <div class="col-9">
                                    <select class="form-select" id="address1" aria-label="">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3 ">아파트명</div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="아파트명을 입력해 주세요">
                                        <button type="button" class="btn btn-outline-secondary" id="btn-name-duplicate-check">중복체크</button>
                                    </div>
                                    <div class="form-text" id="name-check-message"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 ">센터 운영</div>
                                <div class="col-9 mb-2">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="activated" id="activated-Y" value="1">
                                            <label class="form-check-label" for="activated-Y">운영</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="activated" id="activated-N" value="0">
                                            <label class="form-check-label" for="activated-N">미운영</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3 ">세대수</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="hosCnt">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3 ">GX 가용인원</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="gxCnt">
                                </div>
                            </div>
                            <!---->
                            <hr>
                            <div class="row">
                                <div class="col-3 ">런닝 머신수</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="runCnt">
                                </div>
                            </div>
                            <!---->
                            <div class="row">
                                <div class="col-3 ">웨이트머신수</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="wetCnt" min="0" step="1" inputmode="numeric">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 ">인바디유무</div>
                                <div class="col-9 mb-2">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="inbyYn" id="inbyYn-Y" value="1">
                                            <label class="form-check-label" for="inbyYn-Y">유</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="inbyYn" id="inbyYn-N" value="0">
                                            <label class="form-check-label" for="inbyYn-N">무</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3 ">골프 총 타석수</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="golfCnt">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 ">골프 타석스트린수</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="scrCnt">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 ">골프 스크린골프장</div>
                                <div class="col-9">
                                    <input type="number" class="form-control mb-2" id="scrGolfCnt">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// modal-body -->

                    <!-- modal-footer -->
                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-light me-1" id="apart-cancel-btn" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="apart-confirm">확인</button>
                    </div>
                    <!--// modal-footer -->
                </div>
            </div>
        </div><!--// 사용자추가 모달 -->
    </th:block>

    <!-- script block -->
    <th:block th:fragment="pageScript">

        <!-- Daterangepicker Plugin js / 날짜 범위 선택 -->
        <script src="/vendor/daterangepicker/moment.min.js"></script>
        <script src="/vendor/daterangepicker/daterangepicker.js"></script>

        <!-- Dropzone File Upload js / 데이타 업로드 -->
        <script src="/vendor/dropzone/min/dropzone.min.js"></script>
        <!-- File Upload Demo js -->
        <script src="/js/pages/component.fileupload.js"></script>

        <!-- custom -->
        <script type="module" src="/js/apart/apart.js"></script>

    </th:block>

</th:block>
