/* 타이틀 & 버튼 */
.main_area .card-title {position:absolute; font-size:0.95rem; top:1.2rem; margin:0 0 0 0.2rem; color: var(--ct-nav-tabs-link-active-color);}
.main_area .news-bt {position:absolute; right:0.625rem; z-index:11;}
.main_area .search-bt {position:absolute; right:0.625rem; top:0.35rem; z-index:11;}

.table > :not(caption) > * > * {padding: 0.4rem 0.6rem; font-size: 0.8rem;}

/* Masonry grid */
.grid{ position:relative; width:100%;}
.grid-sizer,
.grid-item{ width:calc(50% - 5px);}
.grid-item.loaded{ opacity:1; transition:opacity .6s ease-in-out;}

/* 테이블 탭 */
.main_area .t-tab-c .nav-item { display: flex; align-items: center; }
.main_area .t-tab-c .nav-link { font-weight: 600; padding-right: 2.825rem; color: var(--ct-secondary-color) !important; }
.main_area .t-tab-c .nav-link.active { color: var(--ct-nav-tabs-link-active-color) !important;}
.main_area .t-tab-c .nav-link:hover { color: #815ac5 !important;}
.main_area .t-tab-c .nav-item .more-link { display: inline-flex; align-items: center;
    color: #fff !important; padding:0.22rem; font-size:0.8rem; line-height:0.8; border-radius:0.45rem;}

.main_area .table thead tr:first-child th { padding-top: .5rem; padding-bottom: .5rem; }

/* 테이블 */
.custom th {text-align:center; height: 2.5rem;}
.custom td {text-align:center;  vertical-align:middle; font-size:0.78rem; height: 2.5rem;}

.table .badge-box {text-align:center; vertical-align:middle;}
.table .badge-box span {padding:.34rem .33rem .48rem; display: block; border-radius:50rem; font-size:0.68rem !important; letter-spacing:-0.05rem; line-height: 1;}

/* === 테이블의 기본 제목 설정 === */
.table .data-tit {text-align:left !important; position:relative;}
.table .data-tit .bg-secondary {opacity: 0.77;}
.table .data-tit a:hover {opacity: 0.5;}

/* === 기사 테이블의 제목 설정 따로 추가 === */
.table .data-tit.article-title-only {color:#212121 !important; font-weight: 500;}
.table .data-tit.article-title-only a:hover {opacity: 1;}

.table .link-tite {color: var(--ct-dark-rgb)!important;  letter-spacing: -0.08rem; white-space: normal;}
.table .m-link {position:absolute; right:1rem;}
.table .data-txt {font-size:0.74rem !important;}
.table .data-txt span {display:block; margin-top:0.2rem;}

/* 툴립 */
.article-tabs{ position:relative; z-index:10; }
.article-tabs .nav-item{ position:relative; }
.page-wrapper{ position:relative; }

.tooltip-inner{  white-space:nowrap; color: var(--ct-gray-200); }
.tooltip.show { opacity: 1;}
.tooltip .tooltip-arrow { transform: none;}

.tab-pill-icon{
    position:absolute; right: .625rem; top:50%; transform:translateY(-50%);
    display:flex; align-items:center; justify-content:center;
    width:26px; height:26px; border-radius:999px; background:#815ac5; color:#fff !important;
    font-size:14px; text-decoration:none; transition:all .15s ease;
}
.tab-pill-icon:hover{ background:#5a32a3;/* transform: scale(1.05);*/}

.table .bt-box {text-align:center; vertical-align:middle;}
.table .bt-box button {padding:0.25rem 0.33rem 0.3rem; margin-left: 0.15rem; font-size:0.94rem; line-height:0.8; box-shadow:none !important;}

/* key p i */
.kpi-area tbody tr td:nth-child(5) {font-weight: bold; color: var(--ct-danger-text-emphasis) !important;}

/* 일보 */
.daily-reports i { margin-right: 0 !important; }

/* 일보 - 모달 설정 */
.modal-dialog .modal-title {font-size: 1rem;}
.modal-dialog .nav-link {font-size:0.76rem; letter-spacing: -0.06rem; }

.modal-dialog .nav-pills .nav-link.active, .modal-dialog .nav-pills .show > .nav-link {background-color:#036bc8 !important;}
.modal-dialog  .tab-content {min-height:4rem;}

.spinner-container {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;}
.iframe-container {position: relative;}
.iframe-resize {width: 100%; border: none;}

/* 일보 - 모달 테이블 */
.read .head {padding:0.6rem; text-align:left; font-weight:bolder; font-size:0.9rem; border-top:1px solid #dadada; border-bottom:1px solid #dadada; background-color: #f0efef;}
.read td {padding:0.6rem; text-align:left; line-height:1.5rem; font-size: 0.82rem;}

.modal .nav-pills {box-shadow: var(--ct-box-shadow) !important;}

.list {width:100%}
.list th {padding:0.8rem; text-align:left; font-size:0.94rem; font-weight:bolder; color:#6c757d; border-top:1px solid #dadada; border-bottom:1px solid #dadada; text-align:center;}
.list td {padding:1rem 0.6rem;; text-align:left; line-height:1.5rem; font-size: 0.84rem; font-weight: 400; color:#6c757d; text-align: center;}
.list tr { border-bottom:1px solid #dadada;}
.list tr:last-child {border-bottom:none;}
.list .head span {font-style: normal; font-size:1.1rem; position:relative; top:0.2rem;}
.list td a.btn {
    letter-spacing: -1px; padding:0.3rem 0.8rem ; color: #676a6c; border-color: #a9a9a9; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease;
    transition: all 0.2s ease; margin: 0; display: inline-block; border:1px solid #909090; border-radius: 0.2rem;
}
.list td a {cursor:pointer;}
.list td a:hover {opacity:0.6;}
.list td a.deld {background-color:#E53235; color:#fff; border:1px solid #E53235;}
.list td a.read {background-color:#424242; color:#fff; border:1px solid #424242;}

/* 달력 설정 */
#calendar {overflow: hidden;}
#day_box .fc .fc-toolbar.fc-header-toolbar, #duty-box .fc .fc-toolbar.fc-header-toolbar { padding: 0 !important; margin: 1.2rem 0 .5rem !important; }
.tab-content {position:relative;}
.fc .fc-daygrid-day-frame {height:86px;}

.fc .fc-toolbar {justify-content:center !important; margin: 6px 0 0px 0 !important;}
.fc .fc-toolbar-title {margin:0 1.5rem;}
.fc .fc-toolbar h2 {font-size: 1rem !important;}
.fc-toolbar .fc-toolbar-chunk {margin:2px 10px;}
.fc-view {margin-top:0.5rem;}
.fc .fc-daygrid-day.fc-day-today {background-color: var(--ct-primary-bg-subtle) !important;}

.fc-h-event .fc-event-title { font-size: .72rem; letter-spacing: -.01rem; }

#day_box {visibility:hidden !important; display:block !important; height: 0;}
#day_box.active {visibility:visible !important; height: auto;}
#duty-box {visibility:hidden !important; display:block !important;  height: 0;}
#duty-box.active {visibility:visible !important; height: auto;}

.fc-daygrid-day-number {width:auto; height:auto; margin: 2px 5px; background-color: rgba(var(--ct-secondary-bg-rgb), 0) !important;}
.fc-event {margin:5px 5px 0px !important;border:none !important; cursor:pointer; font-size: 0.77rem !important;}

#calendar.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {min-height:2.95rem;}
#calendar .fc-daygrid-day-events {margin-bottom:0.2rem;}

#calendar2 .table-bordered td, #calendar2 .table-bordered th {border: var(--ct-border-width) solid var(--ct-border-color);}
#calendar2 .fc-daygrid-day-number {line-height:12px; margin:5px 5px;}
#calendar2 .fc-daygrid-day-events {margin:0 0.26rem 0.26rem;}
#calendar2 .fc-event {margin:0 0.3rem 0.215rem !important; padding:0; border:none !important; font-size:0.63rem !important; box-shadow:none}
#calendar2 .fc-daygrid-block-event .fc-event-title {padding:0.02rem;}
#calendar2.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {min-height:1.9em;}

/* Key Performance Indicator */
.kpi .nav-link {border:1px solid var(--ct-border-color); padding: 0.42rem 1rem; background-color:var(--ct-primary-bg-subtle); }
.kpi .nav-link.active { border-color: var(--ct-nav-pills-link-active-bg);}

.footer {border: none !important;}

/* 스크롤 영역 설정 */
.index-scrollable-container.index-my { height: 420px; }
.index-calendar { min-height:635px; height:auto; }
.index-scrollable-container.index-article { height: 570px; }
.index-scrollable-container.index-kpi { height: 365px; }

/* 테이블 내부 요소들도 드래그 방지 */
.index-scrollable-container table { pointer-events: auto; }

/* kpi텍스트 제어 */
.d-custom-none { display: none !important; }
.d-custom-block { display: block !important; }

.table-responsive-sm {
    overflow-x: auto; /* PC에서 드래그를 위해 auto 또는 scroll 설정 필요 */
    white-space: nowrap; /* 내용이 줄바꿈되지 않도록 설정 */
}


@media screen and (max-width: 640px) {
    /* topber */
    .navbar-custom {padding:0;}
    .navbar-custom .topbar {padding-left: 0.625rem; padding-right: 0.625rem;}

    .content-page {padding: 0 .5rem ;}

    .main_area .news-bt {display: none;}

    /* 모바일 사이트 메뉴 */
    .edlitor .leftside-menu {top:0 !important;}

    /* 테이블 탭 */
    .card-title {position:relative; top:0; margin:0 0 1rem 0;}
    .nav-link {font-size: 0.825rem;}
    .nav .form-select {font-size: 0.74rem;}
    .news-bt span {display: none;}
    .search-bt {position:relative; top:0; margin: 0 0.68rem 1rem; display:none;}

    /* 테이블 */
    .custom td {line-height: 1.28rem;}
    .table-responsive-sm {height: auto !important;}
    /* .table-striped > tbody > tr:nth-of-type(2n+1) > * {--ct-table-bg-type:transparent; background-color:transparent;} */
    .table .badge-box span {font-size:0.64rem !important; letter-spacing: -0.05rem; padding:.3rem .4rem .5rem;; }
    .table .link-tite {color: rgba(var(--ct-body-color-rgb), 1) !important;}
    /* 기사 제목 따로 설정 추가 */
    .table .link-tite.article-only-link-tite {color: #212121 !important;}

    .table-responsive-sm::before, .table-responsive-sm::after {
        content: ""; position:absolute; top:0; z-index:1;  font-family:remixicon !important;
        font-size:0.8rem; padding: 0.38rem 0; color: #fff; background-color: rgb(var(--ct-secondary-rgb)) !important; opacity: 0; transition: opacity 0.3s;
    }

    /* 모바일 스크롤 아이콘 */
    .table-responsive-sm::before {content: "\ea64"; left:0;}
    .table-responsive-sm::after {content: "\ea6e"; right:0;}
    .table-responsive-sm.scrolled-right::after {opacity:0.5;}
    .table-responsive-sm.scrolled-left::before {opacity:0.5;}

    /* 모달 설정 */
    .modal-dialog .nav-link {width:22vw !important; padding: 0.5rem 0.5rem; font-size: 0.7rem; letter-spacing: -0.05rem;}
    .fc-toolbar {display: flex !important;}

    /* 달력 */
    .fc-event {margin:0px 5px 5px !important; padding:2px; border:none !important; cursor:pointer; font-size: 0.65rem !important;}
    .fc .fc-daygrid-day-frame {height:auto;}

    #calendar .fc-event {height:auto;}
    #calendar.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {min-height: 1.9rem;}
    #calendar .fc-daygrid-day-events {margin-bottom:0.2rem;}

    #calendar2 .fc-event {height:auto;}
    #calendar2 .fc-daygrid-block-event .fc-event-title span {display:none;}
    #calendar2 .fc-daygrid-day-number {margin: 3px 5px 5px;}

    .fc-event-main {white-space:normal; word-wrap: break-word; padding:2px;}
    .fc-h-event .fc-daygrid-event-dot {display: none;}
    .fc .fc-daygrid-body-natural .fc-daygrid-day-events {margin-bottom:0;}
    .main_area .card-title {top: 1.1rem;}

    .footer {position: relative;}

    /* 스크롤 영역 설정 */
    .index-scrollable-container.index-my .simplebar-content-wrapper,
    .index-scrollable-container.index-article .simplebar-content-wrapper {
        overflow-x: auto !important;  overflow-y: hidden !important;
    }
    .index-scrollable-container.index-my, .index-scrollable-container.index-article { height: 100%; }
    .index-scrollable-container.index-kpi { height: 367px; }
    #myNewsTable, #mySpaceTable, #deptNewsTable, #allNewsTable { width: 100%; margin-bottom: .625rem !important; }

    /* x스크롤과 테이블 간격 */
    .index-scrollable-container .tab-content { padding-bottom: .3125rem; }
    /* x스크롤 높이 */
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar { height: 5px; }

    /* nav와 table 간격 */
    .kpi.mb-1 { margin-bottom: .625rem !important; }
    .t-tab-c { margin-bottom: .315rem !important; }
    #day_box .fc .fc-toolbar.fc-header-toolbar,#duty-box .fc .fc-toolbar.fc-header-toolbar { margin-top: 1rem !important; }

    /* 마이스페이스 모바일 컬럼 너비 */
    /* 상태 */
    #my-news th:nth-child(1), #my-news td:nth-child(1),
    #deptNewsTable th:nth-child(1), #deptNewsTable td:nth-child(1),
    #allNewsTable th:nth-child(1), #allNewsTable td:nth-child(1) { width: 16% !important; }
    /* 제목 */
    #my-news th:nth-child(2), #my-news td:nth-child(2),
    #my-space th:nth-child(2), #my-space td:nth-child(2),
    #deptNewsTable th:nth-child(2), #deptNewsTable td:nth-child(2),
    #allNewsTable th:nth-child(2), #allNewsTable td:nth-child(2){ width: auto !important; }
    /* 날짜 */
    #my-news th:nth-child(3), #my-news td:nth-child(3),
    #my-space th:nth-child(1), #my-space td:nth-child(1),
    #deptNewsTable th:nth-child(4), #deptNewsTable td:nth-child(4),
    #allNewsTable th:nth-child(4), #allNewsTable td:nth-child(4) { width: 23% !important; }
    /* 작업 */
    #my-news th:nth-child(4), #my-news td:nth-child(4),
    #my-space th:nth-child(3), #my-space td:nth-child(3){ width: 27% !important; }
    /* 작성자 */
    #deptNewsTable th:nth-child(3), #deptNewsTable td:nth-child(3),
    #allNewsTable th:nth-child(3), #allNewsTable td:nth-child(3){ width: 18% !important; }
}

/* 태블릿 세로 모드 (768px ~ 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    /* 모달 설정 */
    .modal-dialog {max-width: 47rem;}
    .modal-dialog .nav-link {width: 20vw !important;}
    /* Masonry grid */
    .grid-sizer, .grid-item{ width:100%; }
}

@media (min-width:990px) and (max-width:1369px) {
    .no-transition * {transition: none !important;}
}

@media screen and (max-width: 1200px) {
    .text-nowrap {display: none;}
}

/* 일보, 당직일정 모바일 공통 설정  */
@media screen and (max-width: 767px) {
    .index-scrollable-container.index-my,
    .index-scrollable-container.index-article{ height:auto; overflow-y: hidden !important; max-height: 1014px; }
    .index-scrollable-container.index-my tbody tr:nth-child(n+11),
    .index-scrollable-container.index-article tbody tr:nth-child(n+11) { display: none; }
    .index-calendar{ height:auto;  min-height:320px; }

    /* Masonry grid */
    .grid{ display:block; }

    .grid-sizer, .grid-item{ width:100%; }
}

/* kpi 텍스트 */
@media (min-width:640px) and (max-width:2000px){
    .d-custom-none { display: none !important; }
    .d-custom-block { display: block !important; }
}
@media screen and (max-width: 1533px) {
    .d-custom-none { display: block !important; }
    .d-custom-block { display: none !important; }
}
