<!--
  페이지 생성시 해당 페이지 구조 복붙해서 사용하면됩니다.
-->
<!DOCTYPE html>
<th:block th:replace="~{layout/base-layout :: base-layout(
            pageContent=~{::pageContent},
            pageHead=~{::pageHead},
            pageModal=~{::pageModal},
            pageScript=~{::pageScript},
            title='아파트강습현황',
            subtitle='관리'
        )}">

    <!-- head block -->
    <th:block th:fragment="pageHead">
        <!-- 여기에 추가적으로 필요한 head 내용을 넣습니다. -->
        <!-- Daterangepicker css -->
        <link href="/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <!-- Datatables css -->
        <link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />

        <!-- custom css  -->
        <link href="/css/management.css" rel="stylesheet" type="text/css" />
    </th:block>

    <!-- content block -->
    <th:block th:fragment="pageContent">
        <th:block th:replace="~{partials/mobile-not-supported-notice :: mobile-not-supported-notice('lesson-confirmed-mobile-notice')}"></th:block>
        <!-- 여기에 페이지 본문 내용을 넣습니다. -->
        <!-- row -->
        <div class="row management-mobile-notice-target">

            <!-- col-->
            <div class="col-12 mobile-p0 m-0">
                <!-- card -->
                <div class="card">
                    <!-- card body-->
                    <div class="card-body p-2">
                        <form>
                            <!-- top -->
                            <div class="manage-data manage-bottom">
                                <div class="row g-2 justify-content-end">
                                    <!-- 연도 -->
                                    <div class="col-6 col-md-4 col-lg-auto">
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="mb-0 text-nowrap">연도</h5>
                                            <input type="number"
                                                   class="form-control"
                                                   id="search-year"
                                                   min="2000"
                                                   max="2100">
                                        </div>
                                    </div>
                                    <!-- 월 -->
                                    <div class="col-6 col-md-4 col-lg-auto">
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="mb-0 text-nowrap">월</h5>
                                            <select class="form-select" id="search-month">
                                            </select>
                                        </div>
                                    </div>

                                    <th:block th:replace="~{partials/search-apart-filters :: search-apart-filters}"></th:block>

                                    <div class="col-12 col-sm-8 col-lg-6 col-xl-4 mb-2">
                                        <div class="input-group">
                                            <input type="text" id="target-text" class="form-control w-33"
                                                   placeholder="아파트 검색">
                                            <button type="button" class="btn btn-primary border-primary me-1" id="btn-search">
                                                <i class="ri-search-line me-1"></i> 검색
                                            </button>
                                            <button type="button" class="btn btn-soft-dark shadow-none ms-1" id="btn-reset">
                                                <i class="ri-loop-left-fill me-1"></i> <span>초기화</span>
                                            </button>
                                        </div>
                                    </div><!--// 검색 -->
                                </div><!--//row -->
                            </div><!--//top -->

                            <!-- table #dataTable - DataTable 로드 -->
                            <div class="scrollable-container" data-simplebar data-simplebar-auto-hide="false">
                                <div class="table-inner-wrapper">
                                    <table id="apartConfirmedDataTable" class="table table-striped table-hover w-100 custom org-custom text-center">
                                    </table>
                                </div>
                            </div><!--//table -->
                            <!-- 푸터 페이지네이션 -->
                            <div class="dt-footer" data-table="apartConfirmedDataTable"></div>
                        </form>
                    </div><!--// card body-->
                </div> <!--// card -->
            </div><!--//col-->


        </div><!--//row -->
    </th:block>

    <!-- modal block -->
    <th:block th:fragment="pageModal">


    </th:block>

    <!-- script block -->
    <th:block th:fragment="pageScript">

        <!-- Daterangepicker Plugin js / 날짜 범위 선택 -->
        <script src="/vendor/daterangepicker/moment.min.js"></script>
        <script src="/vendor/daterangepicker/daterangepicker.js"></script>

        <!-- custom -->
        <script type="module" src="/js/lesson/confirmed.js"></script>

    </th:block>

</th:block>
